@media screen and (max-width:1000px) {
    header .container{
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
    }

    .header-logo{
        padding-bottom: 2px;
    }

    .container{
        margin: 0px 30px;
    }

    .botao{
        margin-bottom: 10px;
        width: 300px;
    }

    .filme-principal .container{
        width: 45%;
    }
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 70%;
    }

    .botao{
        margin-bottom: 10px;
    }
}